@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Josefin+Sans:wght@200&family=Lora&family=Roboto+Serif:wght@100&family=Rowdies:wght@300;700&display=swap');

section{
  display:block;
  position:relative;
  width:80%;
  margin:0 auto;
}

h1{
  font-size:3.4rem;
  font-weight:700;
  font-family:"Josefin Sans", sans-serif;
  color:#000000 ;
  line-height:5.5rem;
}

h2{
  font-size:2.6rem;
  font-weight:700;
  font-family: "Josefin Sans", sans-serif;
  color:#EF8354 ;
  line-height:4.2rem;
}
h3{
  font-size:2rem;
  font-weight:700;
  font-family:"Josefin Sans", sans-serif ;
  color:#000000 ;
  line-height:3.24rem;
}
h4{
  font-size:1.8rem;
  font-weight:700;
  font-family:"Josefin Sans", sans-serif ;
  color:#EF8354 ;
  line-height:2.92rem;
}
h5{
  font-size:1.6rem;
  font-weight:700;
  font-family:"Josefin Sans", sans-serif ;
  color:#000000 ;
  line-height:2.58rem;
}

h6{
  font-size:1.4rem;
  font-weight:700;
  font-family:"Josefin Sans", sans-serif ;
  color:#EF8354 ;
  line-height:2.26rem;
}

p{
  margin:1.1618rem 0;
  font-family:"Fredoka", sans-serif ;
  font-size:1rem;
  line-height: 1.618;
}

ol{
  margin-left:50px;
}
li{
  font-family:"Fredoka", sans-serif ;
  font-size: 1rem;
}

li#ai{
  color:#EF8354;
}

li#bi{
  color:#EF8354;
}

li#ci{
  color:#EF8354;
}

li#di{
  color:#EF8354;
}

li#ei{
  color:#EF8354;
}

li#fi{
  color:#EF8354;
}

ul{
  margin-left:50px;
}

button{
  cursor: pointer;
  width: 150px;
  margin-top: 10px;
  border-radius: 10px;
  font-family:"Josefin Sans", sans-serif ;
  box-shadow:-3px 3px 3px #848484;
  border: none;
}

button#uno{
  height: 40px;
  font-size:1.6rem;
  font-weight:700;
  color:#EF8354 ;
  line-height:2.58rem;
}

button#dos{
  background-color: #EF8354;
  height: 50px;
  font-size:1.6rem;
  font-weight:700;
  line-height:2.58rem;
}

button#tres{
  background-color: #000000;
  color: #EF8354;
  height: 60px;
  margin-bottom: 10px;
  font-size:1.6rem;
  font-weight:700;
  line-height:2.58rem;
}

button#uno:hover{
  background-color: #EF8354;
  color: #000000;
}

button#dos:hover{
  background-color: #000000;
  color: #EF8354;
}

button#tres:hover{
  background-color:  #EF8354;
  color: #000000;
}
input#cinco, input#cinco:focus{
  font-size: 1.4rem;
  height: 40px;
  width: 300px;
  font-family:"Josefin Sans", sans-serif ;
  color:#EF8354;
  background-color: white;
  border-bottom-color: black;
  border-top: none;
  border-left: none;
  border-right:  none;
  animation: none;
  outline:none;
}
