@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Josefin+Sans:wght@200&family=Lora&family=Roboto+Serif:wght@100&family=Rowdies:wght@300;700&display=swap');

section{
  display:block;
  position:relative;
  width:80%;
  margin:0 auto;
}

h1{
  font-size:3.4rem;
  font-weight:700;
  font-family:"Josefin Sans", sans-serif;
  color:#000000 ;
  line-height:5.5rem;
}

h2{
  font-size:2.6rem;
  font-weight:700;
  font-family: "Josefin Sans", sans-serif;
  color:#EF8354 ;
  line-height:4.2rem;
}
h3{
  font-size:2rem;
  font-weight:700;
  font-family:"Josefin Sans", sans-serif ;
  color:#000000 ;
  line-height:3.24rem;
}
h4{
  font-size:1.8rem;
  font-weight:700;
  font-family:"Josefin Sans", sans-serif ;
  color:#EF8354 ;
  line-height:2.92rem;
}
h5{
  font-size:1.6rem;
  font-weight:700;
  font-family:"Josefin Sans", sans-serif ;
  color:#000000 ;
  line-height:2.58rem;
}

h6{
  font-size:1.4rem;
  font-weight:700;
  font-family:"Josefin Sans", sans-serif ;
  color:#EF8354 ;
  line-height:2.26rem;
}

p{
  margin:1.1618rem 0;
  font-family:"Fredoka", sans-serif ;
  font-size:1rem;
  line-height: 1.618;
}

ol{
  margin-left:50px;
}

ul{
  margin-left:50px;
}

button{
  cursor: pointer;
  width: 150px;
  margin-top: 10px;
}

button#uno{
  height: 40px;
}

button#dos{
  background-color: #EF8354;
  height: 50px;
}

button#tres{
  background-color: #000000;
  color: white;
  height: 60px;
}
