  *{
  margin:0;
  padding:0;
  font-size:1rem;
  }

  footer{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }

  footer{
    display:flex;
    position:relative;
    justify-content: space-evenly;
    align-items:center;
    width:100%;
    min-height:200px;
    background-color:var(--taronja);
    color:var(--clar);
  }

   footer div#info{
     display:flex;
     position:relative;
     height:150px;
     flex-direction:column;
     justify-content:center;
     align-items:flex-start;
   }

   footer div#centre{
     display:block;
     position:relative;
     height:150px;
   }

   footer div#links{
     display:flex;
     position:relative;
     flex-direction:column;
     justify-content:center;
     align-items:flex-start;
   }

    footer div#links a{
      color:#FDFCFF;
      text-decoration:none;
    }

    footer div#extra{
      display:flex;
      justify-content:flex-end;
      align-items:flex-end;
      position:relative;
    }

    footer div#extra a{
      color:#FDFCFF;
    }
