  *{
  margin:0;
  padding:0;
  font-size:1rem;
  }

  footer{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }

  footer{
    display:flex;
    position:relative;
    justify-content: space-evenly;
    align-items:center;
    width:100%;
    min-height:200px;
    background-color:var(--taronja);
    color:var(--clar);
  }

   footer div#info{
     display:flex;
     position:relative;
     height:150px;
     flex-direction:column;
     justify-content:center;
     align-items:flex-start;
   }

   footer div#centre{
     display:grid;
     grid-template-columns: repeat(6, 1fr);
     grid-template-rows:80px 1px 40px 75px;
     position:relative;
     min-height:150px;
     width:275px;
   }

    footer div#centre span{
      display:flex;
      justify-content:center;
      align-items: center;
      padding:30px 0 0 0;
    }

        footer div#centre span i{
          font-size:1.25rem;
        }

   footer div#centre span:nth-child(1){
     grid-column-start: 1;
     grid-column-end: 7;
     padding:25px 0;
   }

   footer div#centre span:nth-child(2){
     grid-column-start: 1;
     grid-column-end: 7;
     background-color:#fff;
     padding:0;
   }

      footer div#centre span:nth-child(2)::before{
        content:"";
        display:block;
        position:absolute;
        width:50px;
        height:10px;
        background-color:#fff;
      }


   footer div#centre span:nth-child(9){
     grid-column-start: 1;
     grid-column-end: 3;
     align-items:flex-end;
     padding: 0 0 20px 0;
   }

   footer div#centre span:nth-child(10){
     grid-column-start: 3;
     grid-column-end: 5;
     align-items:flex-end;
     padding: 0 0 20px 0;
   }

   footer div#centre span:nth-child(11){
     grid-column-start: 5;
     grid-column-end: 7;
     align-items:flex-end;
     padding: 0 0 20px 0;
   }

   hr{
     background-color:white;
   }

   footer div#links{
     display:flex;
     position:relative;
     flex-direction:column;
     justify-content:center;
     align-items:flex-start;
   }

    footer div#links a{
      color:#FDFCFF;
      text-decoration:none;
    }

    footer div#centre span a{
      color:#FDFCFF;
    }

    footer svg#flecha{
      display:block;
      position:absolute;
      height:50px;
      height:50px;
      left:calc(100vw - 90px);
      top:calc(100% - 70px);
    }
