  *{
    margin:0;
    padding:0;
    font-family:"Lora";
  }

  nav{
    display:block;
    position:relative;
    background-color:var(--clar);
    width:100%;
    height:180px;
    border-bottom:solid 3px black;
    box-shadow:0px 3px 5px grey;
  }

  .logo{
    display:block;
    position:absolute;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%;
    width:400px;
    height:200px;
  }

  div.right{
    display:flex;
    position:relative;
    align-items:center;
    justify-content:flex-end;
    width:auto;
    height:auto;
  }

  div#inici{
    cursor:pointer;
    border:solid 2px black;
    margin:30px 10px 0px 0px;
  }

  div#registre{
    cursor:pointer;
    border:solid 2px black;
    margin:30px 10px 0px 0px;
  }

  img.persona{
    display:flex;
    position:relative;
    width:30px;
    height:30px;
    margin:25px 20px 0px 0px;
    cursor: pointer;
  }

  img.menu{
    display:flex;
    position:relative;
    width:50px;
    height:50px;
  }

  img.closemenu{
    display:flex;
    position:relative;
    width:50px;
    height:50px;
  }


  div#registre:hover{
    background-color: var(--gris)
  }
  div#inici:hover{
    background-color: var(--gris)
  }
