  nav{
    display:block;
    position:relative;
    background-color:var(--clar);
    width:100%;
    height:160px;
    border-bottom:solid 3px black;
    box-shadow:0px 3px 5px grey;
  }

  .logo{
    display:block;
    position:absolute;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%;
    width:400px;
    height:200px;
  }

  div.right{
    display:flex;
    position:relative;
    align-items:center;
    justify-content:flex-end;
    width:auto;
    height:auto;
  }

  div#inici{
    cursor:pointer;
    font-family:"Josefin Sans", sans-serif ;
    font-weight:bolder;
    margin:70px 7px 0px 0px;
    border-radius: 5px;
    padding: 6px 11px 6px 11px;
    background-color: #DCDCDC;
  }

  div#registre{
    cursor:pointer;
    font-family:"Josefin Sans", sans-serif ;
    font-weight:bolder;
    margin:70px 15px 0px 0px;
    border-radius: 5px;
    padding: 6px 11px 6px 11px;
    background-color: #F3A583;
  }

  img.persona{
    display:flex;
    position:relative;
    width:25px;
    height:25px;
    margin:68px 40px 0px 0px;
    cursor: pointer;
  }

  input.menu{
    display:block;
    position:relative;
    width:50px;
    height:50px;
    background-color:transparent;
    border:none;
    background-image:url('assets/svg/iconset/menu.svg');
    background-size:cover;
    background-repeat:none;
    cursor:pointer;
    margin:-50px 20px 0px 40px;
    transition: 400ms ease-in-out;
  }

  input.menu:focus{
    background-image:url('assets/svg/iconset/x.svg');
    z-index: 3;
  }

  div#registre:hover{
    background-color: #F27E4B;
  }
  div#inici:hover{
    background-color: #CACACA;
  }

  div#barra-menu{
    display: absolute;
    position: relative;
    width: 500px;
    height: 0vh;
    top:-115px;
    left:0px;
    background-color: var(--gris);
    transition: 400ms ease-in-out;
  }

  input.menu:focus ~ div#barra-menu{
    width: 500px;
    height: 100vh;
    z-index: 2;
  }

  h1.lletra{
    display: block;
    position: relative;
    width: 4rem;
  }
