section{
  display: block;
  position: relative;
  width:100%;
  height:500px;
  border-bottom:solid 3px var(--negre);
}

.calendari{
  display:grid;
  position:relative;
  background-color: var(--clar);
  width:auto;
  height:auto;
  float: right;
  margin:8% 10% 0px 0px;
  grid-template-columns:repeat(7,34px);
  grid-template-rows:repeat(7,28.57px);
  grid-column-gap:2px;
  grid-row-gap:2px;
  color:var(--negre);
}

.calendari > div{
  display:flex;
  position:relative;
  background-color:var(--negre);
  align-items:center;
  justify-content:center;
}

.calendari div:nth-child(1){
  display:flex;
  position:relative;
  grid-column-start:1;
  grid-column-end:8;
  background-color: var(--taronja);
  color:var(--negre);
}

.calendari div:nth-child(2),
.calendari div:nth-child(3),
.calendari div:nth-child(4),
.calendari div:nth-child(5),
.calendari div:nth-child(6),
.calendari div:nth-child(7),
.calendari div:nth-child(8){
  display:flex;
  position:relative;
  background-color: var(--gris);
  border:solid 1px black;
}

.calendari div:nth-child(9),
.calendari div:nth-child(41),
.calendari div:nth-child(42),
.calendari div:nth-child(43)
{
  display:flex;
  position:relative;
  background-color: var(--clar);
}

.calendari div:nth-child(10),
.calendari div:nth-child(11),
.calendari div:nth-child(12),
.calendari div:nth-child(13),
.calendari div:nth-child(14),
.calendari div:nth-child(15),
.calendari div:nth-child(16),
.calendari div:nth-child(17),
.calendari div:nth-child(18),
.calendari div:nth-child(19),
.calendari div:nth-child(20),
.calendari div:nth-child(21),
.calendari div:nth-child(22),
.calendari div:nth-child(23),
.calendari div:nth-child(24),
.calendari div:nth-child(25),
.calendari div:nth-child(26),
.calendari div:nth-child(27),
.calendari div:nth-child(28),
.calendari div:nth-child(29),
.calendari div:nth-child(29),
.calendari div:nth-child(30),
.calendari div:nth-child(32),
.calendari div:nth-child(33),
.calendari div:nth-child(34),
.calendari div:nth-child(35),
.calendari div:nth-child(36),
.calendari div:nth-child(37),
.calendari div:nth-child(39),
.calendari div:nth-child(40){
  display:flex;
  position:relative;
  background-color: var(--clar);
  border:solid 1px black;
}

.calendari div:nth-child(31){
  display:flex;
  position:relative;
  background-color: var(--taronja);
  border:solid 1px black;
  cursor:pointer;
}

.calendari div:nth-child(38){
  display:flex;
  position:relative;
  background-color: var(--taronja);
  border:solid 1px black;
  cursor:pointer;
}

.calendari div:nth-child(31):hover{
  background-color: #F96E32;
  text-decoration: underline 1px;
}

.calendari > div:nth-child(38):hover{
  background-color: #F96E32;
  text-decoration: underline 1px;
}

div#info22{
  display:block;
  position:absolute;
  width:240px;
  height:140px;
  background-color:transparent; /* canvi de color de fons del info29 */
  transform:translate(-50%, -50%);
  top:74%;
  left:76.7%;
  color:transparent; /* canvi de color de la font */
  z-index:-1; /* canvi capa del info22 */
}

div#info29{
  display:block;
  position:absolute;
  width:270px;
  height:60px;
  background-color:transparent; /* canvi de color de fons del info29 */
  transform:translate(-50%, -50%);
  top:72%;
  left:76.7%;
  color:transparent; /* canvi de color de la font */
}

p{
  display:flex;
  position:relative;
  align-items:flex-start;
  justify-content:center;
  padding:0;
}
