@import url("header_style.css");
@import url("estils_style.css");
@import url("footer_style.css");
@import url("horaris_style.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
:root{
  --blanc:#FFFFFF;
  --clar:#F4F6F7;
  --gris:#C4C4C4;
  --negre:#000000;
  --taronja:#EF8354;
}
